@charset "UTF-8";
/* Versão para tablet */

@media screen and (min-width: 768px) and (max-width: 992px) {
body{
    background-image: linear-gradient(to top, #7c6669, #beb7bd );
}
 section#login{
    width: 80vw;
 }
section#login > div#imagem{
    float: left;
    width: 30%;
    height: 100%;
    border-radius: 20px 0px 0px  20px;
}
section#login > div#formulario{
    float: right;
    width: 70%;
}
}
@media screen and (min-width: 992px) {
    body{
        background-image: linear-gradient(to top, #7c6669, #beb7bd );
    }
    section#login{
width: 950px;
    }
    section#login > div#imagem{
        float: left;
        width: 50%;
        height: 100%;
        border-radius: 20px 0px 0px 20px;
    }
    section#login > div#formulario{
float: right;
width: 50%;
    }
}